@model List<ResultAboutDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık1</th>
        <th>Başlık2</th>
        <th>İçerik</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>@item.Title1</td>
            <td>@item.Title2</td>
            <td>@item.Content</td>
            <td><a asp-controller="AdminAbout" asp-action="UpdateAbout" asp-route-id="@item.AboutId" class="btn mb-1 btn-rounded btn-outline-primary">Güncelle</a></td>
        </tr>
    }
</table>